html,body{
    margin: 0;
    padding: 0;
}
body{
    margin: 15px;
    background-color: #f2f3f5;
}
td input{
    display: block;
    /* width: 20px; */
    border: none;
    height: 20px;
    border-radius: 10px;
    background-color:aquamarine;
    text-align: center;
}